<div class="example-container mat-elevation-z8">
  <!-- Search Input -->
  <div class="example-search-bar">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </div>

  <!-- Table -->
  <div class="example-table-container">
    <mat-table [dataSource]="dataSource" matSort matSortActive="createdDate" matSortDisableClear matSortDirection="desc">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <!-- Stock Column -->
      <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Stock </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.stock }} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.createdDate | date:'short' }} </mat-cell>
      </ng-container>

      <!-- Updated Date Column -->
      <ng-container matColumnDef="updatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.updatedDate | date:'short' }} </mat-cell>
      </ng-container>

      <!-- Photos Column -->
      <ng-container matColumnDef="photos">
        <mat-header-cell *matHeaderCellDef> Photos </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="productImagesDialog(element.id)" style="background: aqua; color: white;">
            <mat-icon class="noTextMatIcon">
              <fa-icon [icon]="faImage"></fa-icon>
            </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button style="background: #25D366; color: whitesmoke;">
            <mat-icon class="noTextMatIcon">
              <fa-icon [icon]="faPen"></fa-icon>
            </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Delete Column --> 
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef width="30"> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button
                  [id]="element.id"
                  [controller]="'products'"
                  [action]="'DeleteProduct'"
                  appDelete
                  (itemDeleted)="onItemDeleted($event)">
          </button>
        </mat-cell>
      </ng-container>

      <!-- Table Rows -->
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <!-- Paginator -->
    <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>

    <!-- Spinner and Rate Limit Notification -->
    <div *ngIf="isLoadingResults || isRateLimitReached" class="example-loading-shade">
      <div *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
        Rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
  </div>
</div>
