<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h3 class="card-title mb-0">Kayıt Ol</h3>
        </div>
        <div class="card-body p-4">
            <!--suppress AngularUndefinedBinding -->
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Ad Soyad</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Ad Soyad"
                               required autocomplete="name">
                    </div>
                    <div *ngIf="registerForm.get('name')?.touched">
                        <small *ngIf="registerForm.get('name')?.hasError('required')" class="text-danger">
                            Ad Soyad gerekli.
                        </small>
                        <small *ngIf="!registerForm.get('name')?.hasError('required') && registerForm.get('name')?.hasError('minlength') || registerForm.get('name')?.hasError('maxlength')"
                               class=" text-danger">
                            Ad Soyad 3-50 karakter arasi olabilir
                        </small>
                    </div>

                    <label for="username" class="form-label">Kullanıcı Adı</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" formControlName="username"
                               placeholder="Kullanıcı Adı" required autocomplete="username">
                    </div>
                    <small *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                           class="text-danger">
                        Kullanıcı Adı gerekli.
                    </small>
                    <small *ngIf="!registerForm.get('username')?.hasError('required') && registerForm.get('username')?.hasError('minlength') || registerForm.get('username')?.hasError('maxlength')"
                           class=" text-danger">
                        Kullanıcı Adı 3-50 karakter arasi olabilir
                    </small>

                    <label for="email" class="form-label">Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email"
                               required autocomplete="email">
                    </div>
                    <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                           class="text-danger">
                        Geçerli bir email adresi girin.
                    </small>
                    <small *ngIf="!registerForm.get('email')?.hasError('required') && registerForm.get('email')?.hasError('minlength') || registerForm.get('email')?.hasError('maxlength')"
                           class=" text-danger">
                        Email 3-50 karakter arasi olabilir
                    </small>

                    <label for="password" class="form-label">Şifre</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" formControlName="password"
                               placeholder="Şifre" required>
                    </div>
                    <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                           class="small text-danger">
                        Şifre gerekli.
                    </small>

                    <label for="confirmPassword" class="form-label">Şifreyi Onayla</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="confirmPassword"
                               formControlName="confirmPassword"
                               placeholder="Şifreyi Onayla" required>
                    </div>
                    <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
                         class="small text-danger">
                        Şifreyi tekrar girin.
                    </div>
                    <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched"
                         class="small text-danger">
                        Şifreler eşleşmiyor.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Kayıt Ol</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
