@import "@angular/material/prebuilt-themes/rose-red.css";

html, body {
  height: 99%;
  width: 99%;
  font-family: 'GRoboto'!important;
  font-size: large
}

@font-face {
  font-family: 'GRoboto';
  src: url('app/fonts/Roboto-Regular.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
